/01_ticket/EjercicioTicket/nbproject/private/
/01_ticket/EjercicioTicket/build/
/02_agenda_clase/EjercicioAgenda/nbproject/private/
/02_agenda_clase/EjercicioAgenda/build/
/03_empleados/EjercicioEmpleados/nbproject/private/
/03_empleados/EjercicioEmpleados/dist/
/03_empleados/EjercicioEmpleados/build/