/01_ticket/EjercicioTicket/nbproject/private/
/01_ticket/EjercicioTicket/build/
/02_agenda_clase/EjercicioAgenda/nbproject/private/
/02_agenda_clase/EjercicioAgenda/build/
/03_empleados/EjercicioEmpleados/nbproject/private/
/03_empleados/EjercicioEmpleados/dist/
/03_empleados/EjercicioEmpleados/build/
/04_termostato/EjercicioTermostato/nbproject/private/
/04_termostato/EjercicioTermostato/build/
/05_empresa_empleado/EjercicioEmpresaEmpleado/nbproject/private/
/05_empresa_empleado/EjercicioEmpresaEmpleado/build/
/06_alumno_asignatura/EjercicioAlumnoAsignatura/nbproject/private/
/06_alumno_asignatura/EjercicioAlumnoAsignatura/build/
/07_empresa_empleado/EjercicioEmpresaEmpleadoHerencia/nbproject/private/
/07_empresa_empleado/EjercicioEmpresaEmpleadoHerencia/build/
/08_cuenta_bancaria/EjercicioCuentaBancaria/nbproject/private/
/08_cuenta_bancaria/EjercicioCuentaBancaria/build/
/09_alarma/EjercicioAlarma/nbproject/private/
/09_alarma/EjercicioAlarma/build/